@model Deluxes.Models.Product

@{
    ViewBag.Title = "Details";
}
<section class="container" id="shop">
    <!-- row start -->
    <div class="row">
        <!-- main column start -->
        <div class="col-md-12">
            <div class="row">

                <!-- product page top info start -->
                <div class="col-md-12 product">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="owl-carousel owl-theme" id="product-gallery" style="display: block; opacity: 1;">
                                <div class="owl-wrapper-outer">
                                    <div class="owl-wrapper" style="transition:all; left: 0px; width: 0px; display: block; transform: translate3d(0px, 0px, 0px); transform-origin: 0px 50% 0px; perspective-origin: 0px 50%;">
                                        <div class="owl-item" style="width: 0px;">
                                            <div>
                                                <img class="img-responsive" alt="" src="/Deluxes/images/products/stolar2.jpg">
                                            </div>
                                        </div><div class="owl-item" style="width: 0px;">
                                            <div>
                                                <img class="img-responsive" alt="" src="/Deluxes/images/products/stolar2.jpg">
                                            </div>
                                        </div><div class="owl-item" style="width: 0px;">
                                            <div>
                                                <img class="img-responsive" alt="" src="/Deluxes/images/products/stolar2.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page"><span></span></div><div class="owl-page active"><span></span></div><div class="owl-page"><span></span></div></div><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="padding15">
                                <h2 class="product-title"><b>STI Stol</b></h2>
                                
                                <p class="product-price">6500 sek</p>
                            </div>
                            <p></p>

                            <div class="padding15">
                                <form class="form-inline" method="post">
                                    <div class="form-group qty">
                                        <div class="input-group">
                                            
                                            <input class="form-control" type="number" size="4" min="1" step="1" value="1">
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-cart-plus fa-fw"></i> Lägg i varukorgen</button>
                                </form>
                            </div>
                            <p><b>Kategori:</b> <a href="#">Stol</a></p>
                        </div>
                    </div>
                </div>
                <!-- product page top info end -->
                <!-- product page middle info start -->
                <div class="col-md-12 padding25">

                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#description" data-toggle="tab">Beskrivning</a></li>
                       
                    </ul>

                    <div class="tab-content">
                        <!-- description tab start -->
                        <div class="tab-pane fade in active" id="description">
                            <p>
                                Lova matstol är en stol med klädd sits och klädd rygg. Du väljer själv tyg och färg på stolens ben för så att du kan skapa en riktigt passande kombinationen för ditt hem.

                                Denna matstol, med medelhög rygg tillhör den moderna och stilrena stolsserien Contemporary från Skånska Möbelhuset. En högkvalitativ möbel som tillverkas i Europa av noga utvalda kvalitetsmaterial! Klarar offentlig miljö!
                            </p>
                           
                        </div>
                        <!-- description tab end -->
                        <!-- Specifications tab start -->
                        <
                        <!-- Specifications tab end -->
                        <!-- reviews tab start -->
                        
                               
                              
                      
                    </div>
                </div>
                <!-- product page middle info end -->
                <!-- related products start -->
                <div class="col-md-12">
                  
                    
                </div>
                <!-- related products end -->
            </div>
            <!-- row end -->
        </div>
        <!-- main column end -->

    </div>
    <!-- row end -->
</section>